.home {
  background-image: url('./img/pic4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: calc(100vh - 64px);
}

.home a {
  color: whitesmoke;
  font-size: 25px;
  letter-spacing: 3px;
}

.home h1, h2 {
  letter-spacing: 2px;
}

.aboutBg {
  background-image: url('./img/pic6_sized.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 60%;
}

.about {
  background-color: rgba(0, 0, 0, 0.637);
}

.imgSlide {
  max-width: 800px;
}

.contacts {
  background-image: url('./img/pic2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 64px);
}

.contactsBox {
  background-color: rgba(0, 0, 0, 0.637);
}

.contacts ul {
  list-style: none;
}

.contacts a {
  color: whitesmoke;
}

.comments {
  background-image: url('./img/comment-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.commentForm {
  background-color: #f8f8f8e3;
  border: 1px solid #f8f8f8e3;
  border-radius: 20px;
}

.post {
  background-color: #f8f8f8e3;
  border: 1px solid #f8f8f8e3;
  border-radius: 20px;
}

.gmapiFrame {
  min-height: 30vh;
  min-width: 40vw;
}

.pricesBg {
  background-image: url('./img/pic7_sized.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 0%;
}

.prices {
  background-color: rgba(0, 0, 0, 0.637);
}

.telLink {
  font-size: 18px;
  font-weight: bold;
}

.App {
  height: 100vh;
}

